<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kanshu.kanshu" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".DevelopmentActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppThemeIntro"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".SignupActivity"
            android:theme="@style/AppThemeIntro"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kanshu.kanshu.SignupActivity" />
        </activity>
        <activity
            android:name=".ArticleActivity"
            android:parentActivityName=".SignupActivity"
            android:theme="@style/AppThemeNavigationDrawer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kanshu.kanshu.SignupActivity" />
        </activity>
        <activity
            android:name=".ReadingActivity"
            android:parentActivityName=".ArticleActivity"
            android:theme="@style/AppThemeNavigationDrawer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kanshu.kanshu.ArticleActivity" />
        </activity>
        <activity android:name=".TopicsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kanshu.kanshu.SignupActivity" />
        </activity>
        <activity
            android:name=".UserMetricsActivity"
            android:parentActivityName=".ArticleActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kanshu.kanshu.SignupActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".BaseActivity"
            android:theme="@style/AppThemeIntro"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kanshu.kanshu.SignupActivity" />
        </activity>
        <activity
            android:name=".OpenSourceLicensesActivity"
            android:label="@string/title_activity_os_lib"
            android:parentActivityName=".AboutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kanshu.kanshu.AboutActivity" />
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:theme="@style/AppThemeNavigationDrawer"
            android:label="@string/feedback_send">
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:parentActivityName=".SignupActivity"
            android:theme="@style/Kanshu.Light.DarkToolBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kanshu.kanshu.SignupActivity" />
        </activity>

        <activity
            android:name=".FlashCardExerciseActivity"
            android:parentActivityName=".DevelopmentActivity"
            android:theme="@style/Kanshu.Light.DarkToolBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kanshu.kanshu.ArticleActivity" />
        </activity>
    </application>

</manifest>