<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kanshu.android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.DevelopmentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SignupActivity"
            android:theme="@style/AppThemeIntro"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppThemeIntro"
            android:parentActivityName=".activity.SignupActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SignupActivity"/>
        </activity>
        <activity
            android:name=".activity.ArticleActivity"
            android:parentActivityName=".activity.SignupActivity"
            android:theme="@style/AppThemeNavigationDrawer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SignupActivity"/>
        </activity>
        <activity
            android:name=".activity.ReadingActivity"
            android:parentActivityName=".activity.ArticleActivity"
            android:theme="@style/AppThemeNavigationDrawer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ArticleActivity"/>
        </activity>
        <activity
            android:name=".activity.TopicsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SignupActivity"/>
        </activity>
        <activity
            android:name=".activity.UserMetricsActivity"
            android:parentActivityName=".activity.ArticleActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SignupActivity"/>
        </activity>
    </application>

</manifest>
